{%extends "customer/header.html"%}
{%block content%}
<form method="get" class="search-bar">
  <input
    type="text"
    name="q"
    placeholder="Search..."
    class="form-controls"
    id="id_q"
  />
</form>
{%if movies%}
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>ReleaseDate</th>
      <th>Download</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    {%for MovieRequest in movies%}
    <tr>
      <td>{{MovieRequest.title}}</td>
      <td>{{MovieRequest.releasedate}}</td>
      <td><a href="{{MovieRequest.img.url}}">Download Image</a></td>
      <td>
        <form method="POST" action="{% url 'Customer:delete_movie' movie.pk%}">
          {%csrf_token%}<button type="submit" class="btn btn-primary red">
            Delete
          </button>
        </form>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%else%}
<div class="container">
  <div class="row">
    <div class="card-title">
      <h1 class="card-body">NO results !</h1>
    </div>
  </div>
</div>
{%endif%}
<a
  class="btn-floating btn-large waves-effect waves-light red"
  style="position:fixed;bottom:0;right:0;margin-right:80px;margin-bottom:80px;"
  href="{% url 'Customer:upload' %}"
  ><i class="material-icons">+</i></a
>
<script type="text/javascript">
  document.getElementById("id_q").value = "{{query}}";
</script>
{% endblock %}
